@using SS13WebMap.Models.Pages;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container bg-white">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request - contact AA please.</h2>

    @if (Model.ShowRequestId)
    {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
</div>

