/*!
 * Main CSS Class for https://affectedarc07.github.io/SS13WebMap
 * Put custom css here
*/
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/*
PARALLAX STUFF
*/
@keyframes loop_N {
	from {background-position: 0 0;}
	to {background-position: 0 960px;}
}
@keyframes loop_S {
	from {background-position: 0 0;}
	to {background-position: 0 -960px;}
}
@keyframes loop_E {
	from {background-position: 0 0;}
	to {background-position: -960px 0;}
}
@keyframes loop_W {
	from {background-position: 0 0;}
	to {background-position: 960px 0;}
}
.layer1, .layer2, .layer3,
.TG_layer1, .TG_layer2, .TG_layer3 {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: repeat;
	animation: 400s linear infinite;
	z-index: -1;
}

.layer1 {background-image: url("../Parallax/layer1.png");}
.layer2 {background-image: url("../Parallax/layer2.png");}
.layer3 {background-image: url("../Parallax/layer3.png");}

.TG_layer1 {background-image: url("../Parallax/layer1TG.png");}
.TG_layer2 {background-image: url("../Parallax/layer2TG.png");}
.TG_layer3 {background-image: url("../Parallax/layer3TG.png");}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/loader.gif") center no-repeat #272727;
}
.dabbermint {
	content:url("../Logos/pepperdab.gif");
	width: 32px;
	height: 32px;
}
.logo-tg {
	content:url("../Logos/tg.png");
	width: 32px;
	height: 32px;
}
.logo-hippie {
	content:url("../Logos/hippie.webp");
	width: 32px;
	height: 32px;
}
.logo-tgmc {
	content:url("../Logos/tgmc.png");
	width: 32px;
	height: 32px;
}
.logo-bay {
	content:url("../Logos/bay12.svg");
	width: 32px;
	height: 32px;
}
.logo-kepler {
	content:url("../Logos/kepler.png");
	width: 32px;
	height: 32px;
}
.logo-leben {
	content:url("../Logos/leben.png");
	width: 32px;
	height: 32px;
}
.logo-bee {
	content:url("../Logos/bee.webp");
	width: 32px;
	height: 32px;
}
.logo-nsv {
	content:url("../Logos/nsv.png");
	width: 32px;
	height: 32px;
}
.ss13-blue {
	background-color: #40628a !important;
}
.ss13-blue-text {
	color: #40628a !important;
}
.pepperthot-teal {
	background-color: #4bff85 !important;
}
.pepperthot-teal-text {
	color: #4bff85 !important;
}
.tgmc-blue {
	background-color: #00bfff !important;
}
.tgmc-blue-text {
	color: #00bfff !important;
}
.nsv13 {
	background-color: #A39976 !important;
}
.nsv13-text {
	color: #A39976 !important;
}